@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-around text-center mt-5">
    <div class="col col-lg-10 col-xl-9">
        <h1 class="h0">@ViewData["Title"]</h1>
        <div class="row justify-content-around">
            <div class="col-6">
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->
                <br>
            </div>

        </div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-start p1">
            <div class="row text-center justify-content-around ">
                <div class="col-6">
                    <h2>Create a new account.</h2>
                    <hr />
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center ">
                <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                    <div class="mb-1">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                    <div class="mb-1">
                        <label asp-for="Input.Pseudonymes" class="form-label"></label>
                        <input asp-for="Input.Pseudonymes" class="form-control" aria-required="true" />
                        <span asp-validation-for="Input.Pseudonymes" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                    <div class="mb-1">
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                    <div class="mb-1">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                    <div class="mb-1">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col col-md-8 col-lg-7 col-xl-6 ">
                    <button id="registerSubmit" type="submit" class="w-50 btn-rechercher">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2 mt-5">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p class="p1">
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715" class="stats-color">
                                article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
