@model StatistiqueGenresMusicauxVM

<main class="container">
    <!--intro hero-->
    <div class="row  text-center align-items-center ">

        <!--Tire hero-->
        <div class="col mb-5 mt-5">
            <h1 class="h0">
                @Model.Nom
            </h1>
        </div>
    </div>
    @if (this.User.IsInRole(AppConstants.AdminRole) || this.User.IsInRole(AppConstants.AgentRole))
    {
        await Html.RenderPartialAsync("_CardsInfoPlusGenreMusicalDetailsPartial");
    }
        <div class="row justify-content-center p1">

            <div class="col col-lg-10 col-xl-8">
                  <div class="cardul text-bg-dark mb-3">
                        <div class="card-header h4 text-center">
                            Details
                        </div>
                        <div class="card-body">
                            <div class="col text-center my-4">

                                <img src="@AppConstants.ImagePathGenreMusical@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? AppConstants.ImageGenericGenreMusical : Model.ImageUrl)" alt="@Model.Nom" class="card-img border-img-parents w-50">
                            </div>

                            <!--tableau details-->

                            <div class="table-responsive-sm">
                                <table class="table table-dark table-borderless">
                                    <tbody>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                                            <td>@Html.DisplayFor(model => model.Id)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Nom)</th>
                                            <td>@Html.DisplayFor(model => model.Nom)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--Biographie colapse-->
                            <p>
                            <button class="btn-reinitialiser" type="button" data-bs-toggle="collapse" data-bs-target="#description" aria-expanded="false" aria-controls="description">
                                    Description <i class="fa-solid fa-chevron-down"></i>
                                </button>
                            </p>
                            <div class="collapse" id="description">
                                <div class="cardul card-body">
                                    @Model.Description
                                </div>
                            </div>
                      
                        </div>

                  </div>
             </div>
        </div>
    <div class="row justify-content-center p1">
        <div class="col col-lg-10 col-xl-8 table-responsive-sm">
                <table class="table table-dark table-striped align-middle text-center marge-description-genre ">
                    <thead class=" ">
                        <tr>
                            <th>Image</th>
                            <th>Nom artiste</th>
                            <th>Nombre des chansons</th>
                            <th>Nombre d'abonnés</th>
                        </tr>
                    </thead>
                    <tbody class="p1 ">
                        @foreach (var artiste in Model.ListArtisteGenreMusical)
                        {
                            <tr>
                                <td class="w-20">
                                    <div class="card text-bg-dark">
                                    <a asp-controller="Artiste" asp-action="Detail" asp-route-id="@artiste.Id">
                                        <img src="@AppConstants.ImagePathArtiste@(string.IsNullOrWhiteSpace(artiste.ImageURL) ? AppConstants.ImageGenericArtiste : artiste.ImageURL)" alt="@artiste.Nom" class="card-img">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                <a asp-controller="Artiste" asp-action="Detail" asp-route-id="@artiste.Id" class="p1">
                                    @artiste.Nom
                                    </a>
                                </td>
                                <td>
                                    @artiste.NbChansons
                                </td>
                                <td>
                                    @artiste.NbAbonnees
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</main>

