@model NewArtisteVM
@{
    ViewData["classeSuffixe"] = "Ajouter";
    var titreFormulaire = Locals["TitleFormAdd"];
    if (Model.Artiste.Id != 0)
    {
        //Edit
        ViewData["classeSuffixe"] = "Modifier"; 
        titreFormulaire = Locals["TitleFormEdit"];
    }
}
<main class="container">
    <div class="container-fluid">
        <div class="row justify-content-around text-center">
            <div class="col col-lg-10 col-xl-9">
                <h1 class="h0">@titreFormulaire</h1>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->
                <br>
                <!--Form ajouter artiste-->
                <form asp-controller="Artiste" asp-action="Upsert" method="post" enctype="multipart/form-data" class="text-start p1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!--region input Hidden-->
                    <input type="hidden" asp-for="@Model.Artiste.Id" />
                    <input type="hidden" asp-for="@Model.Artiste.ListConcerts" />
                    <input asp-for="@Model.AncienneImage" value="@Model.Artiste.ImageURL" class="form-control" type="hidden" /> <!--permet de conserver l'ancienne image-->
                    <input asp-for="@Model.NomInitial" value="@Model.Artiste.Nom" class="form-control" type="hidden" /> <!--permet de conserver le nom initiale-->
                    <!--Vedtte switch-->
                    <div class="row justify-content-center ">
                        <div class="col col-md-8 col-lg-7 col-xl-6 mb-3">
                            <div class="form-check form-switch form-check-reverse">
                                <label class="form-check-label" asp-for="@Model.Artiste.EstVedette"> </label>
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="@Model.Artiste.EstVedette" value=true checked="@Model.Artiste.EstVedette">
                                <span asp-validation-for="@Model.Artiste.EstVedette" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                    <!--Nom Artiste-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="@Model.Artiste.Nom" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="@Model.Artiste.Nom" id="nomArtiste" placeholder="Exemple: Eminem">
                            <span asp-validation-for="@Model.Artiste.Nom" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Pays Artiste-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="@Model.Artiste.Pays" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="@Model.Artiste.Pays" placeholder="Exemple: Canada">
                            <span asp-validation-for="@Model.Artiste.Pays" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Agent-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="@Model.Artiste.Agent" class="form-label"></label>
                            <input type="text" class="form-control" asp-for="@Model.Artiste.Agent" placeholder="Exemple: Cristi Ochiu">
                            <span asp-validation-for="@Model.Artiste.Agent" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Date de début de la carrière-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="@Model.Artiste.DebutCarrier" class="form-label"></label>
                            <input  class="form-control" asp-for="@Model.Artiste.DebutCarrier">
                            <span asp-validation-for="@Model.Artiste.DebutCarrier" class="text-danger"></span>

                        </div>
                    </div>

                    <!--Nombre de chansons-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label asp-for="@Model.Artiste.NbChansons" class="form-label"></label>
                            <input type="number" class="form-control" asp-for="@Model.Artiste.NbChansons" min="0" placeholder="0">
                            <span asp-validation-for="@Model.Artiste.NbChansons" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Biographie-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <div class="mb-3">
                                <label asp-for="@Model.Artiste.Biographie" class="form-label"></label>
                                <textarea class="form-control summernote " asp-for="@Model.Artiste.Biographie" rows="3" placeholder="Exemple: Saisir la biographie de l'artiste"></textarea>
                                <span asp-validation-for="@Model.Artiste.Biographie" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Nom ImgUrl-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6 ">
                            <label asp-for="@Model.Artiste.ImageURL" class="form-label">
                                <div class="text-center mb-2">
                                    <img src="@AppConstants.ImagePathArtiste@(string.IsNullOrWhiteSpace(Model.Artiste.ImageURL) ? AppConstants.ImageGenericArtiste : Model.Artiste.ImageURL)" class="w-75 border-img-artiste" alt="@Model.Artiste.Nom">
                                </div>
                            </label>
                            <label asp-for="@Model.Artiste.ImageURL" class="form-label"></label>
                            <input type="file" name="files" class="form-control" asp-for="@Model.Artiste.ImageURL" onchange="this.nextElementSibling.style.display = 'none'" placeholder="Exemple: Eminem.jpg" multiple>
                            <span asp-validation-for="@Model.Artiste.ImageURL" class="text-danger"></span>

                        </div>
                    </div>

                    <!--Genres de musique-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label asp-for="@Model.Artiste.IdGenreMusical" class="form-label"></label>
                            <select class="form-select" asp-for="@Model.Artiste.IdGenreMusical" aria-label="Genre de musique" asp-items="@Model.GenresSelectList">
                                <option selected value="">Choisissez parmi les options proposées</option>
                            </select>
                            <span asp-validation-for="@Model.Artiste.IdGenreMusical" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Agent-->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label asp-for="@Model.Artiste.AgentReprId" class="form-label"></label>
                            <select class="form-select" asp-for="@Model.Artiste.AgentReprId" aria-label="agent" asp-items="@Model.AgentSelectList">
                                <option selected value="">Choisissez parmi les options proposées</option>
                            </select>
                            <span asp-validation-for="@Model.Artiste.AgentReprId" class="text-danger"></span>
                        </div>
                    </div>
             <!--concert -->
                    <div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label class="form-label">Concerts</label>
                            @foreach (var concert in Model.ConsertsSelectList)
                            {
                                var isChecked = Model.SelectedConcertIds.Contains(int.Parse(concert.Value));
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="SelectedConcertIds" value="@int.Parse(concert.Value)" @(isChecked ? "checked" : "")>
                                    <label class="form-check-label">@concert.Text</label>
                                </div>
                            }
                            <span asp-validation-for="@Model.SelectedConcertIds" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Concerts-->
                    @*<div class="row justify-content-center">
                        <div class="col col-md-8 col-lg-7 col-xl-6">
                            <label class="form-label">Concerts</label>
                            @foreach (var concertCheckboxItem in Model.ConcertCheckboxItems)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="SelectedConcertIds" value="@concertCheckboxItem.ConcertId" @(concertCheckboxItem.IsSelected ? "checked" : "")>
                                    <label class="form-check-label">@concertCheckboxItem.ConcertName</label>
                                </div>
                            }
                            <span asp-validation-for="SelectedConcertIds" class="text-danger"></span>
                        </div>
                    </div>*@

                    
                    <partial name="_CreateEditReinitBackCatalogueButtonPartielle" model="@Model.Artiste.Id" />
                </form>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () { $('.summernote').summernote({
                toolbar: [

                    ['Menu', ['style', 'bold', 'italic', 'underline', 
                    'clear', 'fontname', 'fontsize', 'color', 'ul', 'ol', 
                    'paragraph', 'link', 'picture', 'video', 'fullscreen', 'codeview', 'help']],     
                ],
                
                styleTags: ['p','pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
                fontNames: ['Montserrat', 'Arial', 'Courier New'],
                height: 130,
                minHeight: 65,
                maxHeight: 400,
                placeholder: "Saisir la biographie de l\'artiste",
                callbacks: {
                    onInit: function () {
                        var editor = elem.next(),
                            placeholder = editor.find(".note-placeholder");

                        function isEditorEmpty() {
                            var code = elem.summernote("code");
                            return code === "<p><br></p>" || code === "";
                        }

                        editor.on("focusin focusout", ".note-editable", function (e) {
                            if (isEditorEmpty()) {
                                placeholder[e.type === "focusout" ? "show" : "hide"]();
                            }
                        });
                    }
                }
            })  
        });
    </script>


}