@model Artiste;

@*Carte d'artiste avec bouton d'ajout aux favoris et bouton de suppression de la base de données*@
@* Dans cette viewPartielle, une autre viewPartielle(_ModalPartielle) est utilisée pour la fenêtre modale. *@
<!--Card-->
<div class="col position-relative">
                <a asp-action="DetailParID" asp-route-Id="@Model.Id">
                    <div class="card">
                        <img src="@AppConstants.ImagePathArtiste@(string.IsNullOrWhiteSpace(Model.ImageURL) ? AppConstants.ImageGenericArtiste : Model.ImageURL)" class="card-img-top" alt="@Model.Nom">
                        <div class="card-body text-center">
                            <h4 class="card-title"> @Model.Nom</h4>
                        @if (Model.EstVedette)
                        {
                                <div class="card-img-overlay ">
                                    <i class="fa-solid fa-star fa-lg vedette-star"></i>
                                </div>
                        }
                        </div>
                    </div>
                </a>

    <partial name="_FormAjoutAuFavorisEtButtonPartielle" model="@Model"></partial>

    @if(this.User.IsInRole(AppConstants.AdminRole))
    {
        <div class="form-check ">
            <form asp-controller="Artiste" asp-action="DeletePost" method="post">
                <div>
                    <input type="hidden" asp-for="@Model.Id" /> <!--Input Hidden nomArtiste-->
                </div>

                <div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-circle btn-sm fa-solid fa-trash btn-supprimer-artiste" data-bs-toggle="modal" data-bs-target="#modalRetirer@(Model.Id)">
                    </button>
                    <!-- Modal-->
                    @{
                        var x = new FavorisViewModel()
                {
                    Id = Model.Id,
                    ImageURL = string.IsNullOrWhiteSpace(Model.ImageURL) ? AppConstants.ImageGenericArtiste : Model.ImageURL,
                    Nom = Model.Nom,
                };
                    }

                    @await Html.PartialAsync("_ModalPartielle", x)

                    <!--ModalFin-->
                </div>
            </form>

        </div>
    }
    
    <!--Button edit-->
    @if(this.User.IsInRole(AppConstants.AdminRole) || this.User.IsInRole(AppConstants.AgentRole))
    {
        <div class="form-check btn-edit-card-position">
            <a asp-action="Upsert" asp-route-Id="@Model.Id" class="btn btn-warning btn-circle btn-sm btn-supprimer-artiste">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
            </a>
        </div>
    }

</div>
<!--Card_Fin-->