@model TP_FusionVox.Models.Concert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concert</h4>
    <hr />
    <dl class="row p1">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateConcert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateConcert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbTotalBillets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbTotalBillets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbBilletsVendu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbBilletsVendu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixBillet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixBillet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
