@model StatistiqueGenresMusicauxVM

<h1>Id: @Model.Id</h1>
<h1>Nom: @Model.Nom</h1>
<h1>Description: @Model.Description</h1>
<h1>imageURL: </h1>
<img src="@AppConstants.ImagePathArtiste@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? AppConstants.ImageGenericArtiste : Model.ImageUrl)" />
<p1>NbARTISTE : @Model.NbArtistes</p1>
<p1>nbChanson : @Model.NbChansonsPubliees</p1>
<p1>nbabonnees : @Model.NbAbonnees</p1>
<table>
    <tbody>
        @foreach (var artiste in Model.ListArtisteGenreMusical)
        {
            <tr>
                <td>
                    @artiste.Nom
                </td>
                <td>
                    @artiste.Pays
                </td>
                <td>
                    @artiste.NbChansons
                </td>
            </tr>

      
        }
    </tbody>
</table>

