
@model StatistiqueVM;
@{
    ViewData["classeSuffixe"] = "Accueil";
}

 <main class="container">
            <!--intro hero-->
            
                <div class="row marge_bot_titre_Accueil align-items-center justify-content-between">
                    <div class="col col-md-10 col-lg-6 p-md-5 m-3 text-start">
                            <h2>FusionVox Records est une maison de disques indépendante à service complet</h2>
                            <br>
                            <p class="p1 text-start">Avec plus de 150 sorties annuelles produites, distribuées et promues pour des artistes de premier plan, 
                                nous nous efforçons de devenir la première société internationale de divertissement qui offre un meilleur jour à notre public grâce à notre contenu révolutionnaire, 
                                nos expériences mémorables et nos talents.
                            </p>
                         <div class=" text-center text-lg-end mt-5">
                            <a href="Artiste/Recherche" class="bouton-parents btn-action-icon" style="border-radius: 4px; position: relative;">
                                NOS ARTISTES 
                             </a>
                         </div>
                    </div>
                    

                    <!--nav reseaux sociaux--> 
                    <div class="col-sm-1 d-none d-sm-block"> 
                        <nav class="text-end ">
                            <ul >
                                <li ><a href="https://www.facebook.com/" ><i class="fa-brands fa-facebook fa-2xl btn-reseaux_sociaux"></i></a></li>
                                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-xl btn-reseaux_sociaux"></i></a></li>
                                <li><a href="https://www.Instagram.com/"><i class="fa-brands fa-instagram fa-2xl btn-reseaux_sociaux"></i></a></li>
                                <li><a href="https://music.apple.com/"><i class="fa-brands fa-deezer fa-xl btn-reseaux_sociaux"></i></a></li>
                                <li><a href="https://www.Spotify.com/"><i class="fa-brands fa-spotify fa-2xl btn-reseaux_sociaux"></i></a></li>
                            </ul>
                        </nav>
                    </div>  
                </div> 
               
                <div class="row justify-content-center text-center pb-5 pb-lg-0 pt-xxl-5">
                    <div class="col">
                        <P class="p1">PLUS DE DÉTAILS</p>
                        <a href="#details"> <img src="Images/Icons/_img_Scroll_down.svg" alt="Scroll DOwn" class="d-none d-lg-inline-flex"></a>
                        <a href="#details"> <img src="Images/Icons/_img_Scroll_down_android.svg" alt="Scroll DOwn" class="d-lg-none"></a>
                    </div>
                </div> 
                <!--Titre section description compagnie-->
                <div class="row justify-content-around mt-5" id="details">
                    <div class="col col-xl-5">
                        <h1>
                            FUSIONVOX RECORDS
                        </h1>
                        <div class="divider-1 mb-3"></div>
                    </div>
                    <div class="col-5 d-none d-lg-block"></div>
                </div>

                    <!--decription compagnie-->
                <div class="row justify-content-around ">
                    <div class="col-12 col-lg-5 p-lg-2">
                        <div>
                            <p class="p1">
                                FusionVox est plus qu'un label, c'est un concept. Un concept pour ceux qui croient, comme nous,
                                que la musique rapproche les gens comme aucune autre expérience ne le fait. 
                                C'est pourquoi nous construisons des expériences et des relations véritablement hors du commun avec des partenaires de confiance et durables.
                                Avec eux, nous créons des événements à grande échelle qu'il est difficile d'oublier.    
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 p-lg-2">
                        <p class="p1 ">
                            Avec une vision claire et innovante, FusionVox redéfinit les normes de professionnalisme et de créativité dans l'industrie de la musique,
                            en fournissant des conseils, des concepts et la gestion d'événements, en tenant compte des attentes et des perceptions du public et en
                            mettant en valeur le talent et l'énergie véhiculés par les artistes. Tout cela repose sur une vision commerciale claire et une stratégie 
                            cohérente, de sorte que toutes les parties impliquées dans le processus en tirent profit.
                        </p>
                    </div>
                </div>  

                <!--stats compagnie-->
                <div class="row justify-content-evenly text-center ">
                    <div class="col-12 col-sm-3 ">
                        <img src="Images/Icons/Line.svg" alt="line vertical" class="m-2 d-none d-sm-inline-block ">
                        <h1 class="h0">
                          @Model.NbTotalArtistes
                        </h1>
                        <p class="p1 stats-color ">
                            Artistes en portefeuille
                        </p>
                    </div>
                    <div class="col-12 col-sm-3 ">
                        <img src="Images/Icons/Line.svg" alt="line vertical" class="m-2 d-none d-sm-inline-block ">
                        <h1 class="h0">
                            @Model.NbTotalAbonnees
                        </h1>
                        <p class="p1 stats-color">
                            Des clients fidèles
                        </p>
                    </div>
                    <div class="col-12 col-sm-3 ">
                        <img src="Images/Icons/Line.svg" alt="line vertical" class="m-2 d-none d-sm-inline-block ">
                        <h1 class="h0">
                            @Model.NbTotalChansons
                        </h1>
                        <p class="p1 stats-color">
                            Chansons publiées
                        </p>
                    </div>
                </div>

                <!--Titre section genres musicaux-->
                <div class="row justify-content-around mt-5">
                    <div class="col col-lg-5">
                        <h1>
                            GENRES MUSICAUX
                        </h1>
                        <div class="divider-1 mb-3"></div>
                    </div>
                    <div class="col-5 d-none d-lg-block"></div>
                </div>           
                @{int cmt = 1;}
         @foreach(var genre in Model.StatsGenresMusicaux){

            <!--@genre.Nom-->
           
             <div class="row justify-content-around mb-5 @(cmt%2==0 ? "flex-row-reverse" : "")">
                    <!--( IMG_@genre.Nom + btn )-->
                    <div class="col-12 col-lg-5 text-center position-relative">
                        <img src="@AppConstants.ImagePathGenreMusical@(string.IsNullOrWhiteSpace(genre.ImageUrl) ? AppConstants.ImageGenericGenreMusical : genre.ImageUrl)" alt="musique @genre.Nom" class="img-fluid mb-4 border-img-parents">
                        
                        <a href="Artiste/Recherche#section@(genre.Nom)" class="bouton-parents btn-action-icon" style="position: relative; top:-38px">
                                NOS ARTISTES 
                                <i class="fa-solid fa-angle-right"></i>
                        </a> 
                        
                    </div>
                    <!--description-->
                    <div class="col-12 col-lg-5 x position-relative">
                        <h2>
                            @genre.Nom
                        </h2>
                            <a asp-action="Upsert" asp-route-Id="@genre.Id" class="btn btn-warning btn-circle btn-sm btn-supprimer-artiste btn-edit-card-position">
                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>
                             <a asp-action="Delete" asp-route-Id="@genre.Id" class="btn btn-warning btn-circle btn-sm btn-supprimer-artiste">
                            <i class="fa-solid fa-trash"></i>
                            </a>
                        <br>
                        <p class="p1 description-genre">
                            @genre.Description
                        </p>
                        <!--Statistique @genre.Nom-->
                        <div class="row justify-content-evenly text-center">
                            <div class="col-5 ">
                                <img src="~/Images/Icons/Line.svg" alt="line vertical" class="m-2">
                                <h1 class="h0">
                                    @genre.NbArtistes
                                </h1>
                                <p class="p1 stats-color">
                                    Nombre d'Artistes
                                </p>
                            </div>
                            <div class="col-5 ">
                                <img src="Images/Icons/Line.svg" alt="line vertical" class="m-2">
                                <h1 class="h0">
                                    @genre.NbChansonsPubliees
                                </h1>
                                <p class="p1 stats-color">
                                    Chansons publiées
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            cmt++;
        }
     
</main>

@section monStyle {

          <!--Solution trouvée pour l\'image du héros-->

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}